.banner{
width: 100vw;
height: 30vw;
}
.btnAdd{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.eventos{
    margin-top: 30px;
}
.actividades{
    margin-top: 30px;
    margin-bottom: 50px;
}

.subTitels{
    margin-left: 30px;
}
.titelPage{
    margin-left: 10px;
    margin-top: 20px;
}
.cardResponse{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(178, 178, 178);
    margin-top: 30px;
}
.containerCard{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.titelCard{
    display: flex;
   justify-content: center;
}

/* .divAction{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
.actionMed{
    display: flex;
justify-content: center;
}
.ActionDel{
    display: flex;
justify-content: center;
}